In [3]:
import pandas as pd
import numpy as np

In [5]:
# raw data

genes = pd.read_excel('../data/pdx/List of Genes Differentially Expressed upon Different Treatments.xlsx')
genes = genes.iloc[:,[1,2,4,5,7,8]]
genes.columns = ['DHTup', 'DHTdown', 'E2up', 'E2down', 'P4up', 'P4down']
genes = genes.iloc[2:,:]
genes.info()
genes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 2 to 23
Data columns (total 6 columns):
DHTup      22 non-null object
DHTdown    22 non-null object
E2up       22 non-null object
E2down     22 non-null object
P4up       22 non-null object
P4down     6 non-null object
dtypes: object(6)
memory usage: 1.2+ KB

       DHTup   DHTdown     E2up      E2down        P4up    P4down
2       KLK3      CPB1      NTS        CPB1        KLK3     RAB31
3       GPC3    CITED1      DCX  AC062028.2      CXCL13       PGR
4      GPR88     GRIK3  COL22A1      SPINK4        DIO2  FLNB-AS1
5    UGT2B11      LYG1    IGSF1       POTEJ         TAT     ZNF71
6       KLK2     DCDC2   NECAB1         ALB     ADAMTS8    ZNF282
7    UGT2B28   ZNRF2P1   PIEZO2       MS4A7      MYBPC1    QRICH1
8    SLC26A3      CISH     TP63      PLA2G3     UGT2B11       NaN
9   TMEM176A    ZNF107  TMPRSS4     CACNA1H       NTRK3       NaN
10      HPGD       GHR    KLK12    CYP4F30P        DLC1       NaN
11    CYP4F8    NFKBIE     HPGD      MS4A14      ABCA13       NaN
12     DHRS2   FAM217B    KLK14    CYP4F29P      GIMAP6       NaN
13    ATP1A2     GFOD1  SCGB3A1      KLF2P3     SLC26A3       NaN
14    TSPAN8     RIPK2    KCNK3       PEX5L       PDE2A       NaN
15   ALOX15B   TNFAIP3    NTRK3       TPSG1     SPARCL1       NaN
16   HSD17B2  TMEM106B     NEFH       NELL2      SYNPO2       NaN
17    COL3A1    FAM92A    GRIK4      FAR2P3       LAMA1       NaN
18   RANBP3L     BICD1    OLFM4    CYP4F62P      CLEC7A       NaN
19      SOX2      FGD6    RFLNA      CRTAC1  AL591034.3       NaN
20    MYBPC1    FAM83B   RUBCNL      SORCS1      ZBTB16       NaN
21    CXCL13   PLEKHO1    GREB1   SOCS2-AS1     ADAMTS1       NaN
22     FGFR4   MAP3K14  SLC34A2     BPIFA4P      PKD1L1       NaN
23   COL12A1      PER2     SDC2        CSTA       CYYR1       NaN

In [6]:
# using pre-processed gene list (sorted and without duplicates)

path = '../data/pdx/List of Genes Differentially Expressed upon Different Treatments.xlsx'
geneList = pd.read_excel(path, sheet_name='genesListed')
geneList.info()
geneList

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
Genes          108 non-null object
DHT            108 non-null bool
E2             108 non-null bool
P4             108 non-null bool
Upregulated    108 non-null bool
dtypes: bool(4), object(1)
memory usage: 1.4+ KB

          Genes    DHT     E2     P4  Upregulated
0        ABCA13  False  False   True         True
1    AC062028.2  False   True  False        False
2       ADAMTS1  False  False   True         True
3       ADAMTS8  False  False   True         True
4    AL591034.3  False  False   True         True
..          ...    ...    ...    ...          ...
103      ZBTB16  False  False   True         True
104      ZNF107   True  False  False        False
105      ZNF282  False  False   True        False
106       ZNF71  False  False   True        False
107     ZNRF2P1   True  False  False        False

[108 rows x 5 columns]

In [7]:
# extracting tumor data

#path = 'Classification Tumor\PDXs\Human_matrix_DESEQ2normalized_removedlowlyexpressedgenes.xlsx'
#init = pd.read_excel(path)
tumor = init
tumor = tumor.drop(['ensgene', 'biotype', 'description'], axis = 1)
tumor = tumor.transpose()
tumor.columns = tumor.iloc[0,:]
tumor = tumor.iloc[1:,:]
tumor = tumor.astype('float64')
tumor.describe()

NameError: name 'init' is not defined

In [ ]:
tumor